<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966100227080-hesd7c3ffdiqgco137sn7luurvfek99l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966100227080-hesd7c3ffdiqgco137sn7luurvfek99l</string>
	<key>API_KEY</key>
	<string>AIzaSyBcH2OFJmWNbsTRPGJ1wlnR0QRicLb-AEE</string>
	<key>GCM_SENDER_ID</key>
	<string>966100227080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tawseel.app</string>
	<key>PROJECT_ID</key>
	<string>tawseel-326202</string>
	<key>STORAGE_BUCKET</key>
	<string>tawseel-326202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966100227080:ios:359033b69ff86ac4b92dbd</string>
</dict>
</plist>